In [2]:
import pandas as pd
df = pd.read_csv("global_cars_enhanced.csv")

In [3]:
df.shape
df.head()
df.info()
df.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300 entries, 0 to 299
Data columns (total 16 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Car_ID                 300 non-null    object
 1   Brand                  300 non-null    object
 2   Manufacture_Year       300 non-null    int64
 3   Body_Type              300 non-null    object
 4   Fuel_Type              300 non-null    object
 5   Transmission           300 non-null    object
 6   Engine_CC              300 non-null    int64
 7   Horsepower             300 non-null    int64
 8   Mileage_km_per_l       300 non-null    int64
 9   Price_USD              300 non-null    int64
 10  Manufacturing_Country  300 non-null    object
 11  Car_Age                300 non-null    int64
 12  Price_Category         300 non-null    object
 13  HP_per_CC              300 non-null    float64
 14  Age_Category           300 non-null    object
 15  Efficiency_Score       300 non-null    float64
dtypes: float64(2), int64(6), object(8)
memory usage: 37.6+ KB

,Manufacture_Year,Engine_CC,Horsepower,Mileage_km_per_l,Price_USD,Car_Age,HP_per_CC,Efficiency_Score
count,300.000000,300.000000,300.000000,300.000000,300.000000,300.000000,300.000000,300.000000
mean,2015.123333,3052.880000,328.346667,19.716667,60848.823333,10.876667,0.129559,0.485833
std,5.966023,1117.937497,153.202644,6.028061,34445.525598,5.966023,0.093239,0.301403
min,2005.000000,1001.000000,70.000000,10.000000,5221.000000,1.000000,0.017800,0.000000
25%,2010.000000,2074.000000,188.250000,15.000000,29418.500000,6.000000,0.063250,0.250000
50%,2015.000000,3117.500000,329.500000,19.500000,59179.500000,11.000000,0.106850,0.475000
75%,2020.000000,3964.000000,454.750000,24.000000,89692.250000,16.000000,0.168325,0.700000
max,2025.000000,4994.000000,599.000000,30.000000,119587.000000,21.000000,0.525500,1.000000